html{ 
    background: #e5e5e5;
    width:100%; 
    height:100%; 
    font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}



.iot-icon-menu{
    width: 70px;
    height: 100%;
    background: red;
    z-index: 10;

    flex: 0 0 auto;
}

.iot-icon-img{
    width: 50px;
}
.iot-icon-hamburger{
    width: 30px;
    margin: 0px 10px; 
}

.iot-icon-button:hover{
    background-color: white;
}
.iot-icon-button{
    padding: 10px;
}

.iot-menu-items{
    width: 300px;
    position:absolute;
    left: -300px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 5px;
     transition: transform 300ms ease-out;
     z-index: 5;

}

.iot-id{
    font-size: 13px;
}

#iot-content{
    flex: 1 1 auto;
    display: flex;
    transition: all 300ms ease-out;
    overflow: hidden;
}
.iot-menu-item{
    padding: 10px;
    border: 1px solid green;
    background-color: white;
    border-radius: 4px;
    font-size: 15px;
    margin: 4px;
    height: 100%;
}

.iot-textarea{

    width: 600px;
    height: 400px;
}
.iot-device-details{
    width: 600px;
    margin: 20px;
    float: left;
    border-radius: 2px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 5px;
}
.iot-script-name{
    font-size: 30px;
    border: none;
    width: 90%;
    padding: 10px;
}
.iot-script-name:focus{
    border-bottom: 1px solid #9000ff;
    outline:none;
}

#iot-device-manager{
    width: 300px;

}

.iot-device{
    padding: 15px;
}

.iot-script{
    padding: 15px;
    height: 100%;
}

.tag-input, .tag-input-field{

    border-radius: 3px;
    border: 0;
    box-shadow: none;
    outline: none;


}

.tag-dropdown{
    width: 300px;
    background-color: #FAFAFA !important;
}


.tag-dropdown-item{
    padding: 3px 8px;
}

.tag-dropdown-selected{
    color: white;
    background-color: #9000ff;

}

.tag-selected-item  {
    padding: 5px 35px 5px 8px;
    background-color: #9000ff;
    color: white;
    margin: 3px 1px;
    border-radius: 3px;


}


.tag-delete{
    background-image: url(x_white.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top:9px;
    cursor: pointer; cursor: hand; 
}


.CodeMirror-hints {
  max-width: 29em;

}


.iot-log{
     font-family: monospace;
     background-color: white;
     flex: 0 0 auto;

}
.iot-log:hover{
     background-color: #EEE;

}
.iot-log-timestamp{
    width: 100px;
    display: inline;
}
.iot-log-item{
    width: 100px;
    display: inline;
}
#iot-logs{
    height: 300px;
    overflow: scroll;
    display: flex;
     flex-flow: column-reverse;
     font-size: 11px;

}


#iot-script-manager{
    position: relative;
    transition: all 300ms ease-out;
}


#iot-device-manager{
    position: relative;
    transition: all 300ms ease-out;
}


.wm-container{
    flex: 1 1 auto;
    padding: 5px;
}

.wm-box{
    border-radius: 2px;
    border: 1px solid #CCC;
    background: #FFF;
    min-height: 300px;
}



.wm-window-script{
    padding: 15px;
    transform: translateY(1500px);
    opacity: 0;
}
.wm-window{
    transition: all 300ms ease-out;
}

.wm-window-device{
    transform: translateX(500px);
    padding: 15px;
}

.wm-window-selected{
    border: 1px solid #555;
}

.wm-container{
}

.wm-close:hover{
    background-image: url(x_black.png);
}
.wm-close{
    position: absolute;
    background-image: url(x_gray.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    top:9px;
    right: 9px;
    cursor: pointer; cursor: hand; 
}


.iot-variable {
    padding: 15px;
    border-top: 1px solid #DDD;
    margin: 5px 0px;
}





input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 100%;
    padding: 10px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}


