<div class="iot-devices">
    <img src="static/logo.png">iot.wiklosoft.com<br>
    <b>Devices:</b>

    <template ngFor let-device [ngForOf]="devices">
        <a href="/#/device/{{device.id}}">
            <div class="iot-device">
                {{ device.name}}<br>
                <span class="iot-id">{{ device.id }}</span>
            </div>
        </a>
    </template>

    <button (click)="createNewScript()">New</button>
    <b>Scripts:</b>

    <template ngFor let-script [ngForOf]="scripts">
        <a href="/#/script/{{script.ScriptUuid}}">
            <div class="iot-device">
                    <b>{{ script.Name }}</b><br>
                    <span class="iot-id">{{ script.ScriptUuid}} </span>
            </div>
        </a>
    </template>
</div>

<div class="iot-content">
    <router-outlet></router-outlet>
</div>
