<div class="iot-script wm-box">    

    <input class="iot-script-name" [(ngModel)]="script.Name" (keydown.enter)="saveName()"   ><br>

    <h3>Select device:</h3>
    <device-picker #devicePicker></device-picker>

    <select [ngModel]="scriptVersion.Version" #versionValue (change)="getScript(id, versionValue.value)">
        <option *ngFor="let version of versions" value="{{version}}">{{version}}</option>
    </select>

    
    <textarea eventeditor></textarea><br>

    <textarea #code codeeditor></textarea>
    <button (click)="saveScript()">Save</button>
    <button (click)="runScript()">Run</button>

    <div id="iot-logs">
        <div class="iot-log" *ngFor="let log of logs ">
            <div class="iot-log-timestamp">{{log.Timestamp}}</div>
            <div class="iot-log-item">{{log.Content}}</div>

        </div>

    </div>

</div>
